/* animation */
@keyframes eyes-moving {
  to {
    background-position: right 0;
  }
}

/* CSS -------------------------- */
body {
  background-color: #4a7543;
}

.fore {
  position: relative;

  width: 500px;
  height: 500px;

  top: 50%;
  left: 50%;
  transform: translate(-50%);

  background-size: contain;
}

.dear-mask {
  position: absolute;
  width: 385px;
  height: 359px;

  top: 20%;

  border: 2px solid #4f402f;
  border-radius: 385px;
  background: #806640;
  box-shadow: 3px 10px 4px 0px rgba(0, 0, 0, 0.25);

  z-index: 20;
}

.face-shape {
  position: absolute;

  top: 36%;
  left: 9%;

  transform: rotate(-2deg);

  z-index: 30;
}

.bang {
  position: absolute;

  top: 35%;
  left: 6.7%;

  z-index: 40;
}

.left-hair {
  position: absolute;

  top: 65%;
  left: -25%;

  z-index: 10;
}

.right-hair {
  position: absolute;

  top: 65%;
  right: -7%;

  z-index: 10;
}

.left-ear {
  position: absolute;

  width: 120px;
  height: 80px;

  top: 38%;
  left: -16%;

  border: 2px solid #4f402f;
  transform: rotate(-39deg) skewX(37deg) scaleX(1);
  border-radius: 50% 130% 200% 130%;
  background-color: #806640;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);

  z-index: 50;
}

.right-ear {
  position: absolute;

  width: 120px;
  height: 80px;

  top: 37%;
  right: 5.5%;

  border: 2px solid #4f402f;
  transform: rotate(-182deg) skewX(37deg) scaleX(-1);
  border-radius: 130% 50% 130% 200%;
  background-color: #806640;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);

  z-index: 50;
}

.left-inner-ear {
  position: absolute;

  width: 98px;
  height: 35px;
  transform: rotate(-23deg);

  top: 45.5%;
  left: -12%;

  background-color: #f3cece;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

  z-index: 60;
}

.right-inner-ear {
  position: absolute;

  width: 98px;
  height: 35px;

  top: 44.7%;
  left: 71.5%;
  transform: rotate(16deg);

  background-color: #f3cece;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

  z-index: 60;
}

.left-eye {
  position: absolute;

  width: 65px;
  height: 63px;

  top: 71%;
  left: 21%;

  background: url(./images/왼쪽\ 눈.png) no-repeat 0 0 / auto 100%;

  z-index: 70;

  animation: eyes-moving 1.7s infinite steps(6);
}

.right-eye {
  position: absolute;

  width: 65px;
  height: 63px;

  top: 71%;
  left: 46%;

  background: url(./images/오른쪽\ 눈.png) no-repeat 0 0 / auto 100%;

  z-index: 70;

  animation: eyes-moving 1.7s infinite steps(6);
}

.nose {
  position: absolute;

  width: 15px;
  height: 10px;

  top: 85%;
  left: 38.5%;

  background-color: #e2a376;
  border: 1px solid #d1ba7f;
  border-radius: 100%;
  box-shadow: 0px 2px 4px rgba(108, 99, 76, 0.25);

  z-index: 70;
}

.left-blur {
  position: absolute;

  width: 40px;
  height: 11px;

  top: 88%;
  left: 20%;

  background-color: rgba(243, 199, 166, 0.76);
  border-radius: 100%;
  filter: blur(2px);

  z-index: 70;
}

.right-blur {
  position: absolute;

  width: 40px;
  height: 11px;

  top: 88%;
  right: 39%;

  background-color: rgba(243, 199, 166, 0.76);
  border-radius: 100%;
  filter: blur(2px);

  z-index: 70;
}

.lips {
  position: absolute;

  width: 34.5px;
  height: 6.104px;

  top: 91%;
  left: 37%;

  background-color: #faeed1;
  border-bottom: 4px solid #695b53;
  border-radius: 100%;

  z-index: 70;
}

.leaf {
  position: absolute;

  width: 160px;
  height: 70px;

  top: 100%;
  left: -70%;

  background-color: #234927;
  border: 2px solid #223723;
}
