@keyframes body-move {
  0% {
    width: 1200px;
    height: 1500px;
    top: 500px;
    left: 40%;
  }

  100% {
    width: 1200px;
    height: 1500px;
    top: 500px;
    left: 40%;
    transform: scale(1.1);
  }
}

@keyframes lip-motion {
  0% {
    width: 500px;
    top: 31%;
    left: 24%;
  }

  100% {
    width: 500px;
    top: 31%;
    left: 24%;
    transform: scale(1.5);
  }
}

.popo {
  position: relative;
  width: 1200px;
  height: 1500px;
  top: 500px;
  left: 40%;
  background: url(./캐릭터\ 몸통.png) no-repeat;
  background-size: contain;
  animation: body-move 1s ease infinite alternate;
}

.left-eye {
  position: absolute;
  display: inline;
  width: 39px;
  height: 90px;
  top: 20%;
  left: 39%;
  background-color: black;
  border: 1px solid black;
  border-radius: 40% 40%;
}

.right-eye {
  position: absolute;
  display: inline;
  width: 39px;
  height: 90px;
  top: 20%;
  left: 47%;
  background-color: black;
  border: 1px solid black;
  border-radius: 40% 40%;
}

.lip img {
  display: block;
  position: absolute;
  width: 500px;
  top: 31%;
  left: 24%;
  animation: lip-motion 1s ease infinite alternate;
}
