body {
  background-color: beige;
}

.sect-1 p {
  border: 3px solid skyblue;
}

.sect-1 > p {
  background: gold;
}

.sect-1 ~ p {
  border: 3px solid seagreen;
}

.sect-1 + p {
  background: pink;
}

.sect-2 {
  color: red;
  border: 5px solid pink;
}

h1 {
  color: initial;
}
