/* 폰트 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
}

/* 초기화 */
a,
h1,
p,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 말줄임 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 0px;
  height: 0px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  background-color: #fffaf0;
}

/* header */
header {
  width: 100%;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 22px 0 23px 70px;
}

.new-img {
  position: absolute;
  right: 120px;
  top: 43px;
}

.new {
  position: absolute;
  font-size: 14px;
  right: 70px;
  top: 50px;
}

/* main */

.container {
  position: relative;
  text-align: center;
}

.bg-logo {
}

footer {
  color: #677880;
  font-size: 12px;
  text-align: center;
}
