@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #5a6a72;
  font-size: 12px;
}

body {
  font-family: "Pretendard-Regular";
}

.main-box {
  width: 288px;
  height: 374px;

  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px #0000001a;

  padding: 19px 16px;
}

.profile-box {
  display: flex;
  margin: 16px;
  width: 256px;
  height: 40px;
}

.profile-box h2 {
  font-size: 16px;
  font-weight: bold;
}

.profile-box img {
  border-radius: 100px;
  width: 40px;
}

.thum-img {
  width: 288px;
  height: 196px;
}
