body,
h1,
h2,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input {
  font: inherit;
}

button:enabled {
  cursor: pointer;
}

button {
  font: inherit;
  border: 0;
  background: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 0px;
  height: 0px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* CSS 전체 적용 */
body {
  background-color: #eae8fe;
  font-family: "Noto Sans KR", sans-serif;
}

/* 레이아웃 */
main {
  width: 748px;
  max-width: 100%;
  display: grid;
}

@media (min-width: 749px) {
  main {
    grid-template-areas:
      "section1 section2"
      "section1 section3";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px auto;
    gap: 20px 28px;
    margin: 67px auto;
  }
}

@media (max-width: 748px) {
  main {
    grid-template-areas:
      "section1"
      "section2"
      "section3";
    margin: 18px 0;
  }
  body {
    background-color: #ffffff;
  }
}

/* 제목 */
h1 {
  text-align: center;
}

h1 img {
  max-width: 50%;
}

/* main */
.section1 {
  grid-area: section1;
  background-color: #ffffff;
  padding: 30px 26px;
}

.section2 {
  grid-area: section2;
  background-color: #ffffff;
}

.section3 {
  grid-area: section3;
  background-color: #ffffff;
}

.cola-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

button img,
.cola-text,
.cola-price {
  display: block;
}

button img {
  width: 36px;
  aspect-ratio: 36/65;
  object-fit: cover;
  margin: 0 auto;
}

.cola-text {
  font-size: 9px;
  color: #333333;
  margin: 6px 0;
}

.cola-price {
  font-size: 12px;
  color: #ffffff;
  background-color: #6327fe;
  font-weight: normal;
  padding: 5px 15px;
  border-radius: 50px;
}

.blue-box {
  display: flex;
  justify-content: space-between;
  height: 32px;
  background-color: #eae8fe;
  border-radius: 5px;
  padding: 6px 10px;
}

h2 {
  font-size: 14px;
}

#input-money {
  display: flex;
  width: 100%;
  height: 32px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 6px;
}

/* 버튼 */
[class^="btn"] {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px #00000080;
}

.btn-cola {
  border-radius: 10px;
  padding: 11px 12px 9px;
}

.btn-cola.on {
  box-shadow: 0 0 0 4px #6327fe;
}

.btn-cola:disabled {
  color: inherit;
  position: relative;
}

.btn-cola:disabled::after {
  content: "";
  display: block;
  background-color: #000000cc;
  width: 100%;
  height: 100%;
}
