@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&family=Jua&display=swap");

.title {
  font-size: 4rem;
  text-shadow: 5px 5px 5px rgb(139, 133, 133);
  text-align: center;
  font-weight: bolder 100px;
}

body {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-family: "Jua", sans-serif;
}

p {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  font-style: italic;
  text-shadow: 5px 5px 5px rgb(139, 133, 133);
}
