h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 0px;
  height: 0px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  height: 100vh;
  background-color: #eae8fe;

  text-align: center;

  display: grid;
  place-items: center;
}

main {
  width: 748px;
  height: 545px;

  display: grid;
  grid-template-areas:
    "section1 section1 section2 section2"
    "section1 section1 section3 section3"
    "section1 section1 section3 section3";

  row-gap: 20px;
  column-gap: 28px;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;

  grid-area: section1;
  background-color: #ffffff;

  place-items: center;
}

.section2 {
  grid-area: section2;
  background-color: #ffffff;
}

.section3 {
  grid-area: section3;
  background-color: #ffffff;
}

li {
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #00000080;
}

.menu-cola {
  width: 36px;
}

.menu-btn {
  width: 70px;
  background-color: #6327fe;
  color: #ffffff;
  border: 1px solid #6327fe;
  border-radius: 50px;
  box-sizing: border-box;
}
